@font-face 
  font-family 'Montserrat'
  font-display auto
  font-weight 300
  src url('../../public/fonts/montserrat-light-webfont.woff2') format('woff2'),
      url('../../public/fonts/montserrat-light-webfont.woff') format('woff'),
      url('../../public/fonts/montserrat-light-webfont.svg#webfont') format('svg')

@font-face 
  font-family 'Montserrat'
  font-display auto
  font-weight 400
  src url('../../public/fonts/montserrat-regular-webfont.woff2') format('woff2'),
      url('../../public/fonts/montserrat-regular-webfont.woff') format('woff'),
      url('../../public/fonts/montserrat-regular-webfont.svg#webfont') format('svg')

@font-face 
  font-family 'Montserrat'
  font-display auto
  font-weight 700
  src url('../../public/fonts/montserrat-bold-webfont.woff2') format('woff2'),
      url('../../public/fonts/montserrat-bold-webfont.woff') format('woff'),
      url('../../public/fonts/montserrat-bold-webfont.svg#webfont') format('svg')
